<!-- product_list.html -->
{% extends "base.html" %}

{% block content %}
  <div>
    <div class="row">
      <div class="col-auto">
        <h1>Lista de Produtos</h1>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody id="productTbody">
        {% include "./product_table.html" %}
      </tbody>
    </table>
  </div>

  {% include "./includes/add_modal.html" %}

{% endblock content %}

{% block js %}
  <script>
    // Por causa do editar categoria.
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
  </script>
{% endblock js %}
